
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/hero-banner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #fbdfd1;
    color: #1f1e2b;
}

header {
    height: 60px;
    line-height: 60px;
}

nav {
    text-decoration: none;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


.hero-banner {
    border: solid 1.5px #1f1e2b; 
    height: 550px;
    width: min(100% - 10px, 1080px);
    align-self: center;
    margin-bottom: 125px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 25px;
}
  
.hero-banner p {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
} 

h2 {
    font-size: 40px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 25px;
}

p + p {
    margin-top: 25px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid 1px #1f1e2b;
    margin-bottom: 45px;
    box-shadow: 7px 7px #d8ceca;
}

#about-me {
    width: 50%;
    text-align: left;
    background-color: #fbdfd1;
    color: #1f1e2b;
    padding: 20px
}

.gallery {
    width: 50%;
    background-color: #1f1e2b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.gallery .one, .gallery .five {
    display: flex;
    justify-content: flex-start;
}

.gallery .four {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.one, .four, .five {
    width: 90%;
    height: 200px;
}



#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid 1px #1f1e2b;
    margin-bottom: 45px;
    box-shadow: 7px 7px #d8ceca;
    padding-right: 20px;
}

.text {
    width: 70%;
    text-align: left;
    background-color: #1f1e2b;
    color: #fbdfd1;
    padding: 20px;
    padding-bottom: 30px;
}

.socials {
    width: 50%;
    text-align: left;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
}

li i {
    font-size: 30px;
    color: #201e31;
}

li i:hover {
    cursor: pointer;
    color: #13131b;
}

footer {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
}

.resume {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #1f1e2b;
    color: #fbdfd1;
    box-shadow: 7px 7px #d8ceca;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.resume button {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Animation for Nav */

.btn {
    width: 150px;
    height: 40px;
    border: 1px solid #1f1e2b;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    margin-top: 10px;
  }
  
  .btn::before, .btn::after {
    position: absolute;
    background: #fbdfd1;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 50px;
    width: 130px;
  }
  
  .btn::after {
    width: 150px;
    height: 30px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #fbdfd1;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #fbdfd1;
  }
  
  .btn:hover {
    background: #fbdfd1;
  }

  /* Animation for button */

  .bttn {
    width: 150px;
    height: 40px;
    border: 1px solid #fbdfd1;
    background-color: #1f1e2b;
    font-family: 'Montserrat', sans-serif;
    color: #fbdfd1;
    font-size: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    margin-top: 10px;
  }
  
  .bttn::before, .bttn::after {
    position: absolute;
    background: #1f1e2b;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .bttn::before {
    height: 50px;
    width: 130px;
  }
  
  .bttn::after {
    width: 150px;
    height: 30px;
  }
  
  
  .bttn:hover::before {
    width: 0px;
    background: #1f1e2b;
  }
  
  .bttn:hover::after {
    height: 0px;
    background: #1f1e2b;
  }
  
  .bttn:hover {
    background: #1f1e2b;
  }

  /* media queries */

/* 1200px and down */
@media (max-width: 1200px){
    h1{ 
      font-size: 50px; }
  }
  
  /* 992px and down */
  @media (max-width: 992px){
      h1{ 
        font-size: 40px; }

     .hero-banner p {
        font-size: 25px;
     }

     .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: solid 1px #1f1e2b;
        margin-bottom: 35px;
        box-shadow: 7px 7px #d8ceca;
    }
    
    #about-me {
        width: 100%;
        text-align: left;
        background-color: #fbdfd1;
        color: #1f1e2b;
        padding: 20px
    }

    .gallery {
        width: 100%;
        background-color: #1f1e2b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
    }
    
    .gallery .one, .gallery .five {
        display: flex;
        justify-content: center;

    }
    
    .gallery .four {
        display: flex;
        justify-content: center;
    }
    .one, .four, .five {
        width: 100%;
        height: 400px;
    }

  }
    
  /* 768px and down */
  @media (max-width: 768px){
    body {
        background-color: #fbdfd1;
        background-image: none;
    }
    .container {
        width: min(100% - 10px, 1080px);
        margin-inline: auto;
    }

    .hero-banner {
        border: solid 1.5px #1f1e2b; 
        height: 450px;
        width: min(100% - 10px, 1080px);
        align-self: center;
        justify-content: center;
        margin-bottom: 125px;
        box-shadow: 7px 7px #d8ceca;
    }
    .one, .four, .five {
        width: 100%;
        height: 300px;
    }

    h1{ 
        font-size: 30px; }
}
    
   /* 480px and down */
  @media (max-width: 480px){
      h1{ 
        font-size: 20px;
        margin-top: 75px;
     }
    body {
            background-color: #fbdfd1;
            background-image: none;
        }
    .container {
            width: min(100% - 10px, 1080px);
            margin-inline: auto;
        }
    
    .hero-banner {
            border: solid 1.5px #1f1e2b; 
            height: 350px;
            width: min(100% - 10px, 1080px);
            align-self: center;
            justify-content: center;
            margin-bottom: 125px;
            box-shadow: 7px 7px #d8ceca;
        }
    .one, .four, .five {
            width: 100%;
            height: 200px;
        }
  }
       