
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/hero-banner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #fbdfd1;
    color: #1f1e2b;
}

header {
    height: 60px;
    
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


.hero-banner {
    border: solid 1.5px #1f1e2b; 
    height: 550px;
    width: min(100% - 10px, 1080px);
    align-self: center;
    margin-bottom: 125px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 25px;
}
  
.hero-banner p {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
} 

h2 {
    font-size: 40px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 25px;
}

p + p {
    margin-top: 25px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid 1px #1f1e2b;
    margin-bottom: 45px;
    box-shadow: 5px 7px #d8ceca;
}

#about-me {
    width: 40%;
    text-align: left;
    background-color: #fbdfd1;
    color: #1f1e2b;
    padding: 20px
}

.gallery {
    width: 60%;
    background-color: #1f1e2b;
    display: flex;
    flex-direction: column;
    padding: 55px;
    gap: 20px;
}

.gallery .one, .gallery .five {
    display: flex;
    justify-content: flex-start;
}

.gallery .four {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.one, .four, .five {
    width: 90%;
    height: 200px;
}



#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid 1px #1f1e2b;
    margin-bottom: 45px;
    box-shadow: 5px 7px #d8ceca;
    padding-right: 20px;
}

.text {
    width: 70%;
    text-align: left;
    background-color: #1f1e2b;
    color: #fbdfd1;
    padding: 20px;
    padding-bottom: 30px;
}

.socials {
    width: 50%;
    text-align: left;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
}

li i {
    font-size: 30px;
    color: #201e31;
}

footer {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
}